.productdiv {
    width: 40%;
    height: 500px;
    background-color: white;
    float: left;
    text-align: center;
    font-family: cursive;
    color: rgb(207, 109, 5);
    border-radius: 20%;
  }
  .product {
    width: 80%;
    height: 300px;
  }
  .button {
    background-color: rgb(74, 96, 206);
    width: 20%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  